<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>JSPCRUDMongodb</display-name>

	<context-param>
		<param-name>MONGODB_HOST</param-name>
		<param-value>localhost</param-value>
	</context-param>
	<context-param>
		<param-name>MONGODB_PORT</param-name>
		<param-value>27017</param-value>
	</context-param>
	<context-param>
		<param-name>MONGODB_USERNAME</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>MONGODB_PASSWORD</param-name>
		<param-value>377040</param-value>
	</context-param>
	<context-param>
		<param-name>MONGODB_AUTHENTICATION_DATABASE</param-name>
		<param-value>admin</param-value>
	</context-param>
	<context-param>
		<param-name>MONGODB_DATABASE</param-name>
		<param-value>productDB</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>productlist.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>